@font-face {
  font-family: 'coolvetica';
  src: url('/fontes/coolvetica rg.otf') format('opentype'),
       url('/fontes/coolvetica rg it.otf') format('opentype');
}

body {
  font-size: 15pt;
  font-family: 'coolvetica', sans-serif;
  background-color: white;
/* Cor de fundo branca */
background-image: radial-gradient(circle 60px at 10% 20%, rgba(80, 0, 255, 0.15), transparent 70%),
radial-gradient(circle 80px at 40% 30%, rgba(80, 0, 255, 0.15), transparent 80%),
radial-gradient(circle 100px at 70% 50%, rgba(80, 0, 255, 0.15), transparent 90%),
radial-gradient(circle 120px at 90% 60%, rgba(80, 0, 255, 0.15), transparent 100%),
radial-gradient(circle 140px at 20% 80%, rgba(80, 0, 255, 0.15), transparent 110%);
background-size: cover;
background-repeat: no-repeat;
}

.container{
  border:4px solid #8C00FF ;
  border-radius:20px;
  margin-bottom:10px;
  padding: 10px;
  height: 1000px;
}

h3{
  letter-spacing: 0.05em;
  text-align: center;
  color:#8C00FF;
}

img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(15, 0, 89, 0.4);
}
/* CSS existente */

/* Adicionando consultas de mídia para telas maiores */
@media (min-width: 768px) {
  body {
    font-size: 16pt; /* Aumentar o tamanho da fonte para telas maiores */
  }
header {
  text-align: center;
}
  .container {
    padding: 20px;
    height: auto; /* Altura automática para se adaptar ao conteúdo */
  }

  img {
    width: 80%; /* Reduzir a largura da imagem para evitar que fique muito grande */
    height: auto; /* Manter a altura proporcional */
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 17pt; /* Aumentar ainda mais o tamanho da fonte para telas ainda maiores */
  }

  .container {
    padding: 30px;
  }

  img {
    width: 60%; /* Reduzir ainda mais a largura da imagem para telas ainda maiores */
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18pt; /* Aumentar ainda mais o tamanho da fonte para telas muito grandes */
  }

  .container {
    padding: 40px;
  }

  img {
    width: 50%; /* Reduzir significativamente a largura da imagem para telas muito grandes */
  }
}
